extends layout

block content
  h1= title

  div
    form(method='post' action='/update_user')

      //- p : Id
      input(type='hidden' name='id' value='#{user.id}')

      p : Username
      input(type='text' name='username' value='#{user.username}')

      p : Password
      input(type='password' name='password' value='#{user.password}')

      p : Fullname
      input(type='text' name='fullname' value='#{user.fullname}')

      p : City
      input(type='text' name='city' value='#{user.city}')

      p : Status
      input(type='text' name='status' value='#{user.status}')

      button(type='submit') Update
